<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>An AngularJS Notifier Module</h1>
        <hr>
        <form
            class="form"
            role="form"
            >
            <div
                class="form-group"
                >
                <label
                    class="control-label"
                    for="content"
                    >
                    Content
                </label>
                <input
                    class="form-control"
                    data-ng-model="notification.content"
                    type="text"
                    placeholder="The notification content goes here"
                    >
                    <button
                        class="btn btn-link"
                        data-ng-click="clearContent()"
                        >
                        Clear
                    </button>
                    <button
                        class="btn btn-link"
                        data-ng-click="setContent($index)"
                        data-ng-repeat="sample in samples"
                        >
                        Sample {{$index + 1}}
                    </button>
            </div>
            <div
                class="form-group"
                >
                <div
                    class="checkbox"
                    >
                    <label>
                        <input
                            data-ng-model="notification.dismissable"
                            type="checkbox"
                            >
                            Dismissable
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div
                        class="form-group"
                        >
                        <label
                            class="control-label"
                            for="type"
                            >
                            Type
                        </label>
                        <div
                            class="radio"
                            >
                            <label>
                                <input
                                    checked
                                    data-ng-model="notification.type"
                                    name="type"
                                    type="radio"
                                    value="danger"
                                    >
                                    Danger
                            </label>
                        </div>
                        <div
                            class="radio"
                            >
                            <label>
                                <input
                                    data-ng-model="notification.type"
                                    name="type"
                                    type="radio"
                                    value="info"
                                    >
                                    Info
                            </label>
                        </div>
                        <div
                            class="radio"
                            >
                            <label>
                                <input
                                    data-ng-model="notification.type"
                                    name="type"
                                    type="radio"
                                    value="success"
                                    >
                                    Success
                            </label>
                        </div>
                        <div
                            class="radio"
                            >
                            <label>
                                <input
                                    data-ng-model="notification.type"
                                    name="type"
                                    type="radio"
                                    value="warning"
                                    >
                                    Warning
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div
                        class="form-group"
                        >
                        <label
                            class="control-label"
                            for="location"
                            >
                            Location
                        </label>
                        <div
                            class="radio"
                            >
                            <label>
                                <input
                                    checked
                                    data-ng-model="notification.location"
                                    name="location"
                                    type="radio"
                                    value="topLeft"
                                    >
                                    topLeft
                            </label>
                        </div>
                        <div
                            class="radio"
                            >
                            <label>
                                <input
                                    data-ng-model="notification.location"
                                    name="location"
                                    type="radio"
                                    value="topMiddle"
                                    >
                                    topMiddle
                            </label>
                        </div>
                        <div
                            class="radio"
                            >
                            <label>
                                <input
                                    data-ng-model="notification.location"
                                    name="location"
                                    type="radio"
                                    value="topRight"
                                    >
                                    topRight
                            </label>
                        </div>
                        <div
                            class="radio"
                            >
                            <label>
                                <input
                                    data-ng-model="notification.location"
                                    name="location"
                                    type="radio"
                                    value="bottomLeft"
                                    >
                                    bottomLeft
                            </label>
                        </div>
                        <div
                            class="radio"
                            >
                            <label>
                                <input
                                    data-ng-model="notification.location"
                                    name="location"
                                    type="radio"
                                    value="bottomMiddle"
                                    >
                                    bottomMiddle
                            </label>
                        </div>
                        <div
                            class="radio"
                            >
                            <label>
                                <input
                                    data-ng-model="notification.location"
                                    name="location"
                                    type="radio"
                                    value="bottomRight"
                                    >
                                    bottomRight
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div
                        class="form-group"
                        >
                        <label
                            class="control-label"
                            for="timeout"
                            >
                            Timeout
                        </label>
                        <div
                            class="radio"
                            >
                            <label>
                                <input
                                    checked
                                    data-ng-model="notification.timeout"
                                    name="timeout"
                                    type="radio"
                                    value="null"
                                    >
                                    null
                            </label>
                        </div>
                        <div
                            class="radio"
                            >
                            <label>
                                <input
                                    data-ng-model="notification.timeout"
                                    name="timeout"
                                    type="radio"
                                    value="2000"
                                    >
                                    2000
                            </label>
                        </div>
                        <div
                            class="radio"
                            >
                            <label>
                                <input
                                    data-ng-model="notification.timeout"
                                    name="timeout"
                                    type="radio"
                                    value="4000"
                                    >
                                    4000
                            </label>
                        </div>
                        <div
                            class="radio"
                            >
                            <label>
                                <input
                                    data-ng-model="notification.timeout"
                                    name="timeout"
                                    type="radio"
                                    value="8000"
                                    >
                                    8000
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div
                        class="form-group"
                        >
                        <label
                            class="control-label"
                            for="timeout"
                            >
                            Width
                        </label>
                        <div
                            class="radio"
                            >
                            <label>
                                <input
                                    checked
                                    data-ng-model="notification.width"
                                    name="width"
                                    type="radio"
                                    value="auto"
                                    >
                                    auto
                            </label>
                        </div>
                        <div
                            class="radio"
                            >
                            <label>
                                <input
                                    data-ng-model="notification.width"
                                    name="width"
                                    type="radio"
                                    value="200"
                                    >
                                    200
                            </label>
                        </div>
                        <div
                            class="radio"
                            >
                            <label>
                                <input
                                    data-ng-model="notification.width"
                                    name="width"
                                    type="radio"
                                    value="400"
                                    >
                                    400
                            </label>
                        </div>
                        <div
                            class="radio"
                            >
                            <label>
                                <input
                                    data-ng-model="notification.width"
                                    name="width"
                                    type="radio"
                                    value="800"
                                    >
                                    800
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div
                class="form-group"
                >
                <button
                    class="btn btn-default"
                    data-ng-click="show(notification)"
                    type="submit"
                    >
                    Show
                </button>
            </div>
        </form>
    </div>
</div>
