body {
    padding-top: 60px;
}

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.topmost {
    background: #f2f2f2;
    border: 1px solid #d8d8d8;
    opacity: 0.8;
    padding-bottom: 15px;
    padding-top: 15px;
    z-index: 3000;
}
