.notifier {
    margin-bottom: 0px;
    opacity: 0.9;
    position: fixed;
}
.notifier.ng-enter,
.notifier.ng-leave {
    transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    -webkit-transition: 0.3s linear all;
}
.notifier.ng-enter {
    opacity: 0;
}
.notifier.ng-enter.ng-enter-active {
    opacity: 0.9;
}
.notifier.ng-leave {
    opacity: 0.9;
}
.notifier.ng-leave.ng-leave-active {
    opacity: 0;
}
