<div
    data-ng-repeat="(location, notifications) in locations"
    >
    <div
        class="
            alert
            alert-{{notification.type}}
            notifier
        "
        data-st-notification
        data-ng-class="{
            'alert-dismissable': notification.dismissable
        }"
        data-ng-repeat="notification in notifications"
        notification="notification"
        >
        <button
            aria-hidden="true"
            class="close"
            data-ng-click="notification.remove()"
            data-ng-if="notification.dismissable"
            type="button"
            >&times;
        </button>
        <span data-ng-bind-html="notification.content"></span>
    </div>
</div>
